.home{
    font-family: 'Caprasimo', cursive;
    color: #397754;
    text-decoration: none;
}
nav{
    /* background-color: #f0a3bc; */
}
.link{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: black;
}
